{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        {% if user_token %}
          <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
          <button type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-tenant-list').submit() : false;"><i class="fa-solid fa-trash-can"></i></button>
        {% endif %}
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
      <div class="card-body">
        <form id="form-tenant-list" action="{{ delete }}" method="post" data-oc-toggle="ajax">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
                  <td class="text-start">{{ column_name }}</td>
                  <td class="text-start">{{ column_date_added }}</td>
                  <td class="text-end">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if companies %}
                  {% for company in companies %}
                    <tr>
                      <td class="text-center"><input type="checkbox" name="selected[]" value="{{ company.company_id }}"/></td>
                      <td class="text-start">{{ company.name }}</td>
                      <td class="text-start">{{ company.date_added }}</td>
                      <td class="text-end">
                        <a href="{{ company.edit }}" data-bs-toggle="tooltip" title="{{ text_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                        <a href="{{ 'index.php?route=common/tenant_manage&user_token=' ~ user_token ~ '&company_id=' ~ company.company_id }}" data-bs-toggle="tooltip" title="{{ button_manage }}" class="btn btn-info"><i class="fa-solid fa-user-cog"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 